
/* line 297 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\stylus\lib\functions\index.styl */

/* line 73 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\stylus\lib\functions\index.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */

/* line 15 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\index.styl */

/* line 10 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\index.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\border.styl */

/* line 53 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\border.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\border-radius.styl */

/* line 28 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\border-radius.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\clearfix.styl */

/* line 4 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\clearfix.styl */

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\color-image.styl */

/* line 196 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\color-image.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\flex.styl */

/* line 90 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\flex.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\gradients.styl */

/* line 11 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\gradients.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\config.styl */

/* line 7 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\config.styl */

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\iconic.styl */

/* line 25 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\iconic.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\image.styl */

/* line 19 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\image.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\index.styl */

/* line 8 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\index.styl */

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\base.styl */

/* line 19 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\base.styl */

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\html5.styl */

/* line 6 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\html5.styl */

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\links.styl */

/* line 30 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\links.styl */

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\text.styl */

/* line 7 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\text.styl */

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\embed.styl */

/* line 17 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\embed.styl */

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\groups.styl */

/* line 69 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\groups.styl */

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\forms.styl */

/* line 7 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\forms.styl */

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\tables.styl */

/* line 20 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\normalize\tables.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\overflow.styl */

/* line 66 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\overflow.styl */

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\positions.styl */

/* line 78 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\positions.styl */

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\reset.styl */

/* line 5 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\reset.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\text\index.styl */

/* line 12 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\text\index.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\text\aliases.styl */

/* line 9 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\text\aliases.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 8 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 2 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line 523 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line 487 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\vendor.styl */

/* line 11 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\vendor.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\config.styl */

/* line 28 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\config.styl */

/* line 1 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\node_modules\nib\lib\nib\size.styl */

/* line 4 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
body {
  background: url("../img/fondo1.jpg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

/* line 9 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider {
  min-height: 520px;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {

/* line 66 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #slider {
    display: block;
  }
}

/* line 18 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .conoce {
  max-width: 450px;
  text-align: center;
}
@media only screen and (max-width: 768px) {

/* line 66 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #slider .conoce {
    padding: 90px 20px 0 20px;
    margin: 0 auto;
  }
}

/* line 24 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .conoce p {
  margin: 20px 0;
  padding: 0 15px;
}

/* line 27 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .titles {
  width: 290px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

/* line 32 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .titles .reto {
  width: 272px;
  margin: 0 auto;
  position: relative;
}

/* line 36 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .titles .reto:before {
  content: '';
  position: absolute;
  top: 2px;
  left: -7px;
  background: url("../img/star-1-title.png") no-repeat;
  width: 64px;
  height: 64px;
}

/* line 42 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .titles .reto:after {
  content: '';
  position: absolute;
  top: 2px;
  right: -7px;
  background: url("../img/star-2-title.png") no-repeat;
  width: 64px;
  height: 64px;
}

/* line 51 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro {
  background: url("../img/separador-1.png") no-repeat center left 20px;
  margin: 60px 40px 0 40px;
}
@media only screen and (max-width: 768px) {

/* line 66 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #slider .registro {
    margin: 30px 0;
    background: none;
  }
}

/* line 57 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro p {
  text-align: center;
  font-size: 1.0625rem;
  font-weight: bold;
  padding-left: 90px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {

/* line 66 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #slider .registro p {
    padding-left: 0;
  }
}

/* line 66 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 680px;
  padding-left: 90px;
}
@media only screen and (max-width: 768px) {

/* line 66 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #slider .registro .table-form {
    padding: 0 5px;
    display: block;
    width: 98%;
  }
}

/* line 77 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .label {
  text-align: center;
  margin: 0 10px;
  width: 100%;
}
@media only screen and (max-width: 768px) {

/* line 66 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #slider .registro .table-form .label {
    width: 90%;
    margin: 0 auto;
  }
}

/* line 85 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .txt {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  padding: 8px 12px 8px 40px;
  position: relative;
}

/* line 91 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .select-p {
  width: 100%;
  border-radius: 3px;
  padding: 8px 12px 8px 40px;
  position: relative;
}

/* line 97 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .campo {
  position: relative;
  margin: 8px 0;
}
@media only screen and (max-width: 768px) {

/* line 66 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #slider .registro .table-form .campo {
    margin: 10px 0;
  }
}

/* line 103 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .campo .t-input {
  position: absolute;
  top: 2px;
  left: 0;
  content: '';
  width: 35px;
  height: 35px;
  display: block;
  background: rojo1;
  z-index: 1;
  border-radius: 3px 0 0 3px;
}

/* line 112 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .campo .t-input.nombre {
  background: url("../img/icons-form.png") -3px 4px rojo1 no-repeat;
}

/* line 114 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .campo .t-input.apellido {
  background: url("../img/icons-form.png") -3px -23px rojo1 no-repeat;
}

/* line 116 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .campo .t-input.telefono {
  background: url("../img/icons-form.png") -6px -52px rojo1 no-repeat;
}

/* line 118 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .campo .t-input.destino {
  background: url("../img/icons-form.png") -6px -115px rojo1 no-repeat;
}

/* line 120 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .campo .t-input.dni {
  background: url("../img/icons-form.png") -6px -142px rojo1 no-repeat;
}

/* line 122 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .campo .t-input.direcc {
  background: url("../img/icons-form.png") -6px -172px rojo1 no-repeat;
}

/* line 124 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .campo .t-input.url {
  background: url("../img/icons-form.png") -6px -82px rojo1 no-repeat;
}

/* line 127 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .select-f {
  width: 97%;
  margin: 0;
}
@media only screen and (max-width: 768px) {

/* line 66 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #slider .registro .table-form .select-f {
    margin: 0 15px;
    width: 90%;
  }
}

/* line 135 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .camp {
  border: none;
  background: #fff;
  margin: 2px 5px;
  font-style: italic;
  font-size: 0.945rem;
  font-weight: bold;
  outline: none;
  height: 34px;
}

/* line 146 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .acepto {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 0.8125rem;
}
@media only screen and (max-width: 768px) {

/* line 66 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #slider .registro .table-form .acepto {
    text-align: center;
    display: block;
  }
}

/* line 153 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .table-form .acepto a {
  text-decoration: underline;
  color: #fff;
}

/* line 156 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .busca {
  text-align: center;
  font-size: 0.75rem;
  padding-left: 100px;
  margin: 20px 0;
}
@media only screen and (max-width: 768px) {

/* line 66 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #slider .registro .busca {
    padding: 0;
    margin: 30px 0;
  }
}

/* line 164 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .busca a {
  display: inline-block;
  margin: 0 8px;
}

/* line 168 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */

/* line 169 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .busca a:hover img {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

/* line 171 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
#slider .registro .busca img {
  vertical-align: middle;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 175 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\registro.styl */
@media only screen and (max-width: 768px) {

/* line 66 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\base\utiles.styl */
  #slider .registro .busca span {
    display: block;
    margin-bottom: 18px;
  }
}
