body {
  background: #fff;
}

 /* line 6 : D:\Atomikal\Atomikal web 2017\Software\atk-web.git\codigo\stylus\det-proyecto.styl */
 
.head-tit{
  position:  absolute;
  top: 0;
  width: 100%;
}
.cabecera-blog-det{
 height: 342px;
 background: url('../img/blog/articulo-1/banner.jpg');
background-attachment: fixed;
-webkit-background-size: contain;
-moz-background-size: contain;
background-size: contain;
}
    

/* blog */
.contenido-blog{
  padding: 50px 0;
}
.contenido-blog h2{ font-size: 28px; text-align: center; text-transform: none }
.contenido-blog h3{ color: #fd8e00; text-transform: uppercase; font-size: 18px; font-weight: 600; margin: 35px 0 10px 0;}
.contenido-blog h2 span{ font-size: 35px; display: block; text-transform: uppercase; }
.titulo-general{ margin-bottom: 30px; } 
.contenido-blog p{ margin-bottom: 20px; line-height: 1.7rem; text-align: justify; }
.contenido-blog .contenedor{max-width: 1000px}
.contenido-blog .autor{ margin-top: 40px;  }
.contenido-blog .autor img{ float: left; margin-right: 15px; margin-top: -10px; }
.contenido-blog .autor p{ margin: 0; line-height: 1.2rem; font-size: 14px;  }
.contenido-blog .autor .nom{font-size: 16px; letter-spacing: 0.55px; font-weight: 600;  }

@media only screen and (max-width: 768px) {
  .cabecera-blog-det{
 height: 130px;
 background: url('../img/blog/articulo-1/banner.jpg');
background-attachment: fixed;
-webkit-background-size: contain;
-moz-background-size: contain;
background-size: contain;
}
  
  .contenido-blog .autor p{  line-height: 1.2rem; font-size: 12px;  }
.contenido-blog .autor .nom{font-size: 14px;    }
.contenido-blog .autor img{width: 50px;}
.contenido-blog h2{ font-size: 16px;}
.contenido-blog h2 span{ font-size: 22px;}
.contenido-blog h3{ font-size: 16px;}
.contenido-blog p{line-height: 1.2rem;}

}

#menu-inferior{
  background: #f8f8f8;
}
#menu-inferior .contenedor{
  
  margin:  0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:  40px 0;
}
#menu-inferior .contenedor .col{
  width: 26%;
  margin:  0 40px;
}
@media only screen and (max-width: 768px) {
  #menu-inferior .contenedor .col{
    width: 100%;
    margin:  0 30px 10px 30px;
  }
}

#menu-inferior .contenedor .col h5{
  color: #ff8f00;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  #menu-inferior .contenedor .col h5{
    font-size: 13px;
    text-align: left;
  }
}

#menu-inferior .contenedor .col li a{
  color: #696969;
  font-size: 14px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  #menu-inferior .contenedor .col li a{
    font-size: 12px;
  }
}
#menu-inferior .contenedor .etiquetas{
  margin: 10px 0;
}
#menu-inferior .contenedor .etiquetas a{
  background: #ffedd5;
  display:  inline-block;
  color: #696969;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 15px;
  font-size: 13px;
  margin: 5px 4px;
}
#menu-inferior a:hover{
  color: #ff8f00 !important;
}

 


.parallax-lvl-0, .parallax-lvl-1, .parallax-lvl-2, .parallax-lvl-3 {
  position: absolute;
  top: 100px;
}
@media only screen and (max-width: 768px) {
  .parallax-lvl-0, .parallax-lvl-1, .parallax-lvl-2, .parallax-lvl-3 {
    position: static;
    top: 0!important;
    }
}
 